@use '../00-base/colors' as colors;

.header-toolbar {
	width: 100%;

	display: flex;
	justify-content: space-between;
	flex-direction: row;

	@media screen and (max-width: 768px) {
		flex-direction: column;
	}
}

.header-breadcrumb {
	flex-grow: 1;
	margin-left: -8px;
}

.header-action {
	align-self: flex-end;

	@media screen and (max-width: 768px) {
		text-align: right;
	}
}

.header-toolbar{
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: inline-flex;
	gap: 0.5rem;
	.hoo-buttonicon{
		color: currentColor;
	}
}

.header-actions{
	@media screen and (max-width: 768px) {
		text-align: right;
	}
}

.learning-searchbox {
	position: absolute;

	width: calc(100% - 3*41px);
	padding: .35em .5em .5em;

	background-color: colors.$c-light-gray;
}