@use '../00-base/colors' as colors;

.pl-edit-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 3em;
  margin-bottom: 0.25em;

  cursor: pointer;

  justify-content: space-between;
  align-items: center;

  .hoo-buttonicon{
    color: currentColor;
  }


  &:hover {
    color: colors.$c-blue;
    background-color: colors.$c-light-gray;

    .pl-edit-actions {

      .iconbutton {
        background-color: colors.$c-light-gray;
      }

      &:hover {

        .iconbutton {
          background-color: colors.$c-light-gray-darken;
        }
      }
    }
  }
}

.pl-edit-actions{
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  gap: 0.5rem;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pl-edit-icon {
  display: inline-block;
  max-width: 20px;
  align-self: bottom;
}

.pl-edit-title {
  line-height: 1.25;
  flex-grow: 1;
}