{{#nav}}
<nav class="hoo-nav">
    <menu role="tree" class="hoo-nav-list" role="tree">
        {{#each items }}
        <li role="treeitem" class="hoo-navitem" aria-expanded="false" {{#if isCurrent }}aria-current="page" {{/if}}>
            <div class="hoo-navitem-text">
                {{#if this.items }}
                {{#../tree-icon }}
                {{> atoms-button-icon this }}
                {{/../tree-icon }}
                {{/if}}
                <a href="{{ link }}" class="hoo-navitem-link">{{ text }}</a>
                {{#if (isdefined this.items) }}
            </div>
            <menu class="hoo-nav-listsub" role="group">
                {{/if}}
                {{#each this.items }}
        <li class="hoo-navitem">
            <div class="hoo-navitem-text">
                <a href="{{ this.link }}" class="hoo-navitem-link">{{ this.text }}</a>
            </div>
        </li>
        {{/each}}
        {{#if (isdefined this.items) }}
    </menu>
    {{/if}}
    </li>
    {{/each}}
    </menu>
</nav>
{{/nav}}