{{#input.text}}
<div class="hoo-input-group">
    <input class="hoo-input-text" type="text" placeholder="{{ placeholder }}" data-suffix="{{inputSuffix}}">
    <div class="hoo-input-suffix">{{inputSuffix}}</div>
</div>
{{/input.text}}