{{#searchbox}}
<div class="hoo-input-search">
    <svg class="hoo-icon {{iconname}}">
        <use xlink:href="../../images/icons.svg#{{ iconname }}"></use>
    </svg><input class="hoo-input-text" type="search" placeholder="{{ placeholder }}">
</div>
{{/searchbox}}