<div class="hoo-select">
    <div id='custom-select-status' class='hidden-visually' aria-live="polite"></div>
    <input type="text" id="hoo-select-input" class="hoo-select-text" aria-autocomplete="both"
        aria-controls="custom-select-list">
    {{> atoms-button-icon }}
    {{>atoms-select-drop-down}}
</div>