<style>

.test-container{
    margin: 10rem auto;
    height: 10rem;
    width: 30rem;
    background-color: lime;
    display: flex;
}

</style>

<div class="test-container">
{{> atoms-searchbox}}

</div>