<div class="headerpanel">
    {{!-- .headerpanel-left+.headerpanel-right --}}
    <div class="headerpanel-left">
      <h2 class="headerpanel-heading">Current Playlist: Your First day in Office 365</h2>
      {{> 60-playlist }}
    </div>
    <div class="headerpanel-right">
      <h2 class="headerpanel-heading">Administration</h3>
      <ul class="adminlist">
        <li class="adminlist-item">{{> 61-link-button }}</li>
        <li class="adminlist-item">{{> 61-link-button }}</li>
      </ul>
    </div>
</div>
