<div class="dbg-srch-wrapper">
  <div class="srchr-item">
    <div class="srchr-img">
      <img src="{{ plImgUrl }}">
    </div>
    <div class="srchr-desc">
      {{!-- h3.plov-title+p.plov-desc+.plov-audience --}}
      <h3 class="srchr-title">{{ plTitle }}</h3>
      <div class="srchr-category">Microsoft Teams / Microsoft Teams</div>
      <div class="srchr-meta">
        <label class="srchr-metalabel">Level:</label>
        <span>Beginner</span>
        <label class="srchr-metalabel">Audience:</label>
        <span>End User</span>
      </div>
    </div>
  </div>
</div>