<div class="sldpnl show">
    <div class="sldpnl-header">
        {{> 80-slidepanel-header }}
        <div class="sldpnl-toggle">
            <button class="iconbutton chevron-down">
                <span class="iconbutton-img">
                    <!-- Edit -->
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42.55 42.52">
                        <defs>
                            <style>
                                .cls-1 {
                                    fill: none;
                                }

                                .cls-2 {
                                    fill: #1d1d1b;
                                }
                            </style>
                        </defs>
                        <title>down-chevron</title>
                        <g id="Layer_2" data-name="Layer 2">
                            <g id="Layer_1-2" data-name="Layer 1">
                                <rect class="cls-1" width="42.52" height="42.52" />
                                <path class="cls-2" d="M42.55,13.15,21.29,34.41,0,13.15l5.06-5,16.2,16.2,16.2-16.2Z" />
                            </g>
                        </g>
                    </svg>
                </span>
            </button>
        </div>
    </div>
    <div class="sldpnl-content">
        <table class="selector">
            <tr class="selector-row">
                <th class="selector-header">I am a</th>
                <td class="selector-data">
                    <button class="btn-small selected">End User</button>
                    <button class="btn-small">Site Sponsor</button>
                    <button class="btn-small">Content Manager</button>
                </td>
            </tr>
            <tr class="selector-row">
                <th class="selector-header">My skillset is</th>
                <td class="selector-data">
                    <button class="btn-small">Beginner</button>
                    <button class="btn-small selected">Intermediate</button>
                    <button class="btn-small">Advance</button>
                </td>
            </tr>
        </table>
    </div>
</div>