<div class="fuif-dd">
    <div class="fuif-dd-title">
    Hello world <span>⏬</span>
    </div>
    <div class="fuif-dd-opts">
        <div class="fuif-dd-opt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, similique.</div>
        <div class="fuif-dd-opt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, ipsam?</div>
        <div class="fuif-dd-opt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, similique.</div>
        <div class="fuif-dd-opt">Lorem ipsum dolor sit </div>
        <div class="fuif-dd-opt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, similique.</div>
        <div class="fuif-dd-opt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, ipsam?</div>
        <div class="fuif-dd-opt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, similique.</div>
        <div class="fuif-dd-opt selected">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, ipsam?</div>
        <div class="fuif-dd-opt">Lorem ipsum dolor sit amet Vitae, similique.</div>
        <div class="fuif-dd-opt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, ipsam?</div>
        <div class="fuif-dd-opt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, similique.</div>
        <div class="fuif-dd-opt">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, ipsam?</div>
    </div>
</div>