
<!--DO NOT REMOVE-->
{{{ patternLabFoot }}}
<script src="../../js/main.js" type="module"></script>
<script src="../../js/themeswitch/index.js" type="module"></script>
<script>

    var layoutMode = null;

    // changing logo accordingly
    var evtLocationStorageUpdates = () => {

        console.debug("Storage Event Fired");

        let patternlab = JSON.parse(window.localStorage.getItem('patternlab'));

        layoutMode = patternlab.app.layoutMode;

    }
    // register event listener
    window.addEventListener('storage', evtLocationStorageUpdates);
    // on first run detect layout
    evtLocationStorageUpdates();
</script>
</body>
</html>
