body{
    font-family: 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
    max-width: 1204px;
    margin: auto;
    // background-color: var(--bodyBackground);
}
.small{
    width: 200px;
    margin-top: 3rem;
}