.iconbutton{
	position: relative;

	display: inline-block;

	box-sizing: border-box;
	width: auto;
	margin: 0;
	padding: 0 8px;

	transition: background-color ease-in-out .125s;

	border: 1px transparent solid;
	outline: none;
	background-color: transparent;

	&-img{
		display: inline-block;

		width: 16px;
		height: 16px;
		margin: 10px 0;
		margin-bottom: 8px;
	}

	&-label{
		font-size: 14px;
		line-height: 18px;

		display: inline-block;

		box-sizing: border-box;
		margin-top: .5em;
		margin-right: .5em;
		margin-left: .5em;

		vertical-align: top;
	}

	&.disabled{
		visibility: hidden;
	}

	&:hover,
	&.selected{
		cursor: pointer;
	}
}

button.iconbutton{
	svg{
		@include themeSlot(bodyText, fill);
	}
}