// Playlist or short pl
.pl-nav {
	padding: 0;

	list-style: none;

}

.pl-step {
	font-weight: bold;
	margin-right: 1em;
	white-space: nowrap;
	height: 100%;
}

.pl-item {
	@include fs-m-plus;

	box-sizing: border-box;
	// height: 3em;
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;

	color: $c-gray;
	border-bottom: 1px $c-gray solid;
	display: flex;
	align-items: center;

	&:hover,
	&.selected {
		cursor: pointer;

		color: $c-blue;
		border-bottom: 1px $c-blue solid;
	}

	&+& {
		margin-top: 1em;
	}
}