.admin-label {
	@include fs-xl2;

	display: inline-block;
}

.adm-fileUrl {
	padding: 0.3em 0.5em .5em;
	border: 1px black solid;
	border-left: none;
	border-right: none;
	line-height: 1.25em;
	margin-bottom: 0.5em;
}

.adm-subcatheading {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	.ms-TextField {
		flex-basis: calc(100% - 48px);
	}
	.ms-Button{
		align-self: flex-end;
	}

}