.sldpnl {
  width: span(6 narrow of 12);
  padding: 2em 0;

  @media screen and (max-width: 1024px) {
    width: 100%;
  }

  &-header {
    border: 1px $c-gray solid;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: space-between;
    align-items: top;
    flex-wrap: nowrap;
  }

  &-title {
    @include fs-xl;
    line-height: 175%;
    margin: 0.25em 0;
  }

  &-toggle {
    align-self: center flex-end;
    margin: 0.25em 0;
  }
}