.btn-small {
    @include fs-m-plus;

    padding: .25em .75em .36em;

    cursor: pointer;

    color: #333;
    border: none;
    background-color: white;

    &:hover,
    &.selected {
        background-color: $c-light-gray;
    }
}