.link-btn {
	@include fs-m-plus;

	display: flex;

	margin: 0;
	padding: 0;

	cursor: pointer;

	border: none;
	background-color: transparent;

	align-items: flex-start;

	&-icon {
		display: inline-block;

		margin-top: .125em;
		padding-right: .5em;

		svg {
			width: 1.5em;
		}
	}

	&-label {
		line-height: 1.75em;

		display: inline-block;
	}

	&.disabled {
		visibility: hidden;
	}

	&:hover {
		color: $c-blue;

		.link-btn-icon {
			svg {
				path {
					fill: $c-blue;
				}
			}
		}
	}
}