.fuif-dd {
  font-size: 16px;
  font-weight: 400;

  position: relative;

  box-sizing: border-box;
  min-width: 300px;
  padding: .25em 1em;

  cursor: pointer;

  border: 1px $c-gray solid;
  border-width: 1px;
  border-style: solid;
  border-color: $c-light-gray;
  @include themeSlot(--primaryButtonBorder, border);
  @include themeSlot(buttonBackground, border);
  border-radius: 0 0 2px 2px;
  box-shadow: rgba(0, 0, 0, .133) 0 3.2px 7.2px 0, rgba(0, 0, 0, .11) 0 .6px 1.8px 0;

  .fuif-dd-opts {
    position: absolute;
    z-index: 10;
    top: 2.65em;
    left: 0;

    display: none;

    box-sizing: border-box;
    min-width: 100%;
    padding: .5em 0;

    border-radius: 0 0 2px 2px;
    background-color: $c-background;
    @include themeSlot(buttonBackground, border);
    box-shadow: rgba(0, 0, 0, .133) 0 3.2px 7.2px 0, rgba(0, 0, 0, .11) 0 .6px 1.8px 0;

    .fuif-dd-opt {
      line-height: 1.5em;

      padding: .25em 1em;
      @include themeSlot(primaryButtonText);

      &:hover {
        background-color: $c-light-gray;
      }

      &.selected {
        background-color: $c-light-gray;
      }
    }

    &.selected,
    &:hover {
      display: block;
    }
  }

  .fuif-dd-title {
    line-height: 2em;

    display: flex;

    justify-content: space-between;
    @include themeSlot(buttonText);

    span {
      margin-left: .5em;
    }
  }

  .fuif-dd:active>.fuif-dd-opts {
    display: block;
  }
}