.fuif-dd{
	// border-color: $c-light-gray;
	// @include themeSlot(primaryButtonBorder, border);
	@include themeSlot(buttonBackground, border);
	@include themeSlot(primaryButtonBorder, border);

	font-size: 16px;
	font-weight: 400;

	position: relative;

	box-sizing: border-box;
	min-width: 300px;
	padding: .25em 1em;

	cursor: pointer;

	border-radius: 2px 2px 2px 2px;
	box-shadow: rgba(0, 0, 0, .133) 0 3.2px 7.2px 0, rgba(0, 0, 0, .11) 0 .6px 1.8px 0;

	.fuif-dd-opts{
		// background-color: $c-background;
		@include themeSlot(primaryButtonBorder, border);

		position: absolute;
		z-index: 10;
		top: 2.65em;
		left: 0;

		display: none;

		box-sizing: border-box;
		min-width: 100%;
		padding: .5em 0;

		border-radius: 0 0 2px 2px;
		box-shadow: rgba(0, 0, 0, .133) 0 3.2px 7.2px 0, rgba(0, 0, 0, .11) 0 .6px 1.8px 0;

		.fuif-dd-opt{
			@include themeSlot(primaryButtonBackground, background);
			@include themeSlot(primaryButtonText);

			line-height: 1.5em;

			padding: .25em 1em;

			&:hover{
				@include themeSlot(buttonBackgroundHovered, background);
				@include themeSlot(buttonTextHovered);

				// background-color: $c-light-gray;
			}

			&.selected{
				@include themeSlot(buttonBackgroundHovered, background);
				@include themeSlot(buttonTextHovered);

				// background-color: $c-light-gray;
			}
		}

		&.selected,
		&:hover{
			display: block;
		}
	}

	.fuif-dd-title{
		@include themeSlot(buttonText);

		line-height: 2em;

		display: flex;

		justify-content: space-between;

		span{
			margin-left: .5em;
		}
	}

	.fuif-dd:active > .fuif-dd-opts{
		display: block;
	}
}