<article tabindex="0" class="category-item" role="button">
    <div class="category-icon" role="presentation">
        <img src="{{ placeholder-image}}" alt="" loading="lazy"> 
    </div>
    <h3 class="category-label">MS Teams</h3>
</article>