<article class="category-item" role="button">
    <div class="category-icon" role="presentation">
        <img src="https://via.placeholder.com/150" alt=""> 
    </div>
    <h3 class="category-label">MS Teams</h3>
</article>