{{!-- ul.pagination>li.pagination-item*7>.pagination-button --}}
<ol class="pagination">
    <li class="pagination-item hidden">
        <button class="pagination-button">&lt;&lt;</button>
    </li>
    <li class="pagination-item">
        <button class="pagination-button">1</button>
    </li>
    <li class="pagination-item">
        <button class="pagination-button">2</button>
    </li>
    <li class="pagination-item">
        <button class="pagination-button">3</button>
    </li>
    <li class="pagination-item">
        <button class="pagination-button">4</button>
    </li>
    <li class="pagination-item">
        <button class="pagination-button" aria-title="5 of 9 pages">5</button>
    </li>
    <li class="pagination-item">
        <button class="pagination-button" title="6 of 9 pages">&gt;&gt;</button>
    </li>
</ol>
<ol class="pagination">
    <li class="pagination-item">
        <button class="pagination-button">&lt;&lt;</button>
    </li>
    <li class="pagination-item">
        <button class="pagination-button">5</button>
    </li>
    <li class="pagination-item">
        <button class="pagination-button">6</button>
    </li>
    <li class="pagination-item">
        <button class="pagination-button">7</button>
    </li>
    <li class="pagination-item">
        <button class="pagination-button">8</button>
    </li>
    <li class="pagination-item">
        <button class="pagination-button">9</button>
    </li>
    <li class="pagination-item">
        <button class="pagination-button">&gt;&gt;</button>
    </li>
</ol>