<section class="playercontent" {{{props}}}>
    <iframe
        src="https://support.office.com/en-us/f1/topic/378767af-7ac3-4d68-9d0f-709b6948a76b?embed=true&fromOrigin=https://n8dlab001.sharepoint.com"
        frameborder="0" class="playercontent-iframe"></iframe>
</section>