<menu class="dbg-srch-wrapper">
  <li class="srchr-item">
    {{> molecules-playlist-overview-item-noimg }}
  </li>
  <li class="srchr-item">
    {{> molecules-playlist-overview-item-noimg }}
  </li>
  <li class="srchr-item">
    {{> molecules-playlist-overview-item-noimg }}
  </li>
  <li class="srchr-item">
    {{> molecules-playlist-overview-item-noimg }}
  </li>
  <li class="srchr-item">
    {{> molecules-playlist-overview-item-noimg }}
  </li>
  <li class="srchr-item">
    {{> molecules-playlist-overview-item-noimg }}
  </li>
  <li class="srchr-item">
    {{> molecules-playlist-overview-item-noimg }}
  </li>
  <li class="srchr-item">
    {{> molecules-playlist-overview-item-noimg }}
  </li>
  <li class="srchr-item">
    {{> molecules-playlist-overview-item-noimg }}
  </li>
  <li class="srchr-item">
    {{> molecules-playlist-overview-item-noimg }}
  </li>
</menu>