{{#each icons}}
    <svg class="hoo-icon-svg {{icon-name}}" aria-hidden="true">
        <title>{{ title }}</title>
        <use xlink:href="../../images/mlp-icons.svg#{{ icon-name }}"></use>
    </svg>
{{/each}}