<span class="hoo-icon">
    <svg class="hoo-icon-svg {{iconname}}" aria-hidden="true">
        {{#if title }}<title>{{ title }}</title>{{/if}}
        <use xlink:href="../../images/icons.svg#{{ iconname }}"></use>
    </svg>
</span>