<svg class="icon {{iconname}}">
    {{#if title }}<title>{{ title }}</title>{{/if}}
    <use xlink:href="../../images/icons.svg#{{ iconname }}"></use>
</svg>
{{!-- <span class="name"> icon-ninjacat</span> --}}