{{# qlsvg}}
<figure class="hoo-ql-media">
    <svg class="hoo-media-svg" aria-hidden="true">
        {{#if title }}<title>{{ title }}</title>{{/if}}
        <use xlink:href="{{ src }}"></use>
    </svg>
</figure>
{{/ qlsvg}}