.assetdetails {
    padding: 0 24px;

    h3 {
        display: none;
    }

    .adm-header-nav-cont {
        .adm-header-nav {
            flex-basis: auto;
        }

        .ms-Dropdown-container {
            margin-top: 0.5em;
        }
    }


}