.playerctrl {
  display: flex;
  flex-direction: row;

  margin-top: 1em;
  margin-bottom: 1em;

  border: 1px $c-gray solid;
  border-right: none;
  border-left: none;
  // background-color: $c-background;
  @include themeSlot(buttonBackground, background);
  @include themeSlot(ButtonBorder, border);

  align-items: center;
  justify-content: space-between;

  &-title {
    line-height: 32px;

    display: flex;

    @media screen and (max-width: 768px) {
      margin-bottom: .5em;
    }

    .ms-Dropdown-container {
      margin-top: .25em;
      margin-bottom: .25em;

      @media screen and (max-width: 768px) {
        width: calc(100% - 45px);
      }
    }


    .iconbutton {
      margin-left: .5em;
    }
  }

  &-dropdown {
    border-color: whitesmoke;
    @include themeSlot(buttonBorder, border);
  }

  @media screen and (max-width: 768px) {

    flex-wrap: wrap;
    padding-bottom: 0.25em;

    .playerctrl-title {
      flex-basis: 100%;
      order: 0;
    }

    .playerctrl-prev {
      order: 1;
    }

    .playerctrl-next {
      order: 2;
    }
  }
}