.category-overview{
	display: flex;

	width: calc(100% - .1px);

	align-content: flex-start;
	flex-wrap: wrap;

	&.editSort{
		.category-item{
			box-sizing: border-box;

			cursor: move;

			.category-handle{
				display: inline-block;

				width: 1em;
				margin-top: -3px;
				margin-left: -10px;
				padding-top: 5px;

				.category-handle-icon{
					display: none;
				}
			}

			&:hover{
				background-color: rgba(lightgray, .6);

				*{
					pointer-events: none;
				}

				.category-label{
					background-color: rgba(lightgray, .6);
				}

				.category-handle-icon{
					line-height: (1/1.25) * 1em;

					display: inherit;
				}
			}
		}
	}
}

.category-item{
	display: inline-block;

	box-sizing: border-box;
	width: calc(#{span(2 narrow)} - .1px);
	margin-bottom: gutter();
	margin-left: gutter();

	transition: all 125ms ease;

	border: 1px $c-light-gray solid;
	background-color: white;

	flex-shrink: 0;

	&:hover{
		cursor: pointer;

		border: 1px $c-gray solid;
    @include themeSlot(buttonHoverBorder, border);
	}
}

.category-icon{
	img{
		width: 100%;
		height: auto;
	}
}

.category-edit{
	display: inline-block;

	width: calc(100% - 100px);

	.adm-itemedit{
		border-top: 1px black solid;
	}
}

.category-heading{
	display: inline-block;

	margin-top: 6px;
	margin-bottom: 3px;
}

.category-label{
	@include themeSlot(bodytext);

	line-height: 1.25em;

	padding: .35em 1em .5em;
}