.loadingShimmer {
  margin-left: 16px;

  &.appPartPage {
    box-sizing: border-box;
    max-width: 1268px;
    margin: 0 auto;
    padding: 0 1em;
  }
}

.customLearning,.outerframe, .spouterframe, .innerframe, .title, .buttonMargin, .info, .error {
  content: "";
}
