// /**
// * RWD Design optimsations for SPFx
// @Author: Stefan Bauer - N8D
// */
$gridColumns: 12, 8, 6, 4;

@mixin setupGrid($currentClass, $container) {

    // switch to css modal global content
    :global {

        // Manage full width section
        .CanvasZone--fullWidth {
            .CanvasSection-xl12 {
                :local {
                    #{$container} {
                        grid-template-columns: repeat(12, 1fr);
                    }
                }
            }
        }

        // Manage full width section
        .CanvasVerticalSection {
            .CanvasSection-xl12 {
                :local {
                    #{$container} {
                        grid-template-columns: repeat(4, 1fr);

                        @media screen and (max-width: 1280px) {
                            grid-template-columns: repeat(12, 1fr);
                        }
                    }
                }
            }
        }

        // Itterate over all grid columns
        @each $gridCol in $gridColumns {

            // Set class to detect the grid columsn
            .CanvasSection-xl#{$gridCol} {

                // switch to local context
                :local {

                    // Configure grid for current class
                    #{$currentClass} {

                        :global {
                            #{$container} {

                                @if ($gridCol ==12) {
                                    grid-template-columns: repeat(6, 1fr);

                                    @media screen and (max-width: 1024px) {
                                        grid-template-columns: repeat(3, 1fr);
                                    }
                                }
                                @if ($gridCol==4){
                                    grid-template-columns: repeat(2, 1fr);
                                }
                                @if ($gridCol==8){
                                    grid-template-columns: repeat(4, 1fr);
                                }
                                @if ($gridCol==4 or $gridCol ==8) {
                                    @media screen and (max-width: 1024px) {
                                        grid-template-columns: repeat(6, 1fr);
                                    }
                                }

                                @if ($gridCol ==6) {
                                    grid-template-columns: repeat(3, 1fr);

                                    @media screen and (max-width: 640px) {
                                        grid-template-columns: repeat(6, 1fr);
                                    }
                                }

                                @media screen and (max-width: 480px) {

                                    grid-template-columns: repeat(2, 1fr);

                                }

                            }

                        }
                    }

                }

            }

        }

    }

}

@mixin plovGrid($currentClass, $container) {

    // switch to css modal global content
    :global {

        // Manage full width section
        .CanvasZone--fullWidth {
            .CanvasSection-xl12 {
                :local {
                    #{$container} {
                        grid-template-columns: repeat(4, 1fr);
                    }
                }
            }
        }

        // Manage full width section
        .CanvasVerticalSection {
            .CanvasSection-xl12 {
                :local {
                    #{$container} {
                        grid-template-columns: repeat(1, 1fr);

                        @media screen and (max-width: 1280px) {
                            grid-template-columns: repeat(1, 1fr);
                        }
                    }
                }
            }
        }

        // Itterate over all grid columns
        @each $gridCol in $gridColumns {

            // Set class to detect the grid columsn
            .CanvasSection-xl#{$gridCol} {

                // switch to local context
                :local {

                    // Configure grid for current class
                    #{$currentClass} {

                        :global {
                            #{$container} {

                                @if ($gridCol ==12) {
                                    grid-template-columns: repeat(2, 1fr);

                                    @media screen and (max-width: 1024px) {
                                        grid-template-columns: repeat(2, 1fr);
                                    }
                                }
                                @if ($gridCol==4){
                                    grid-template-columns: repeat(1, 1fr);
                                }
                                @if ($gridCol==8){
                                    grid-template-columns: repeat(2, 1fr);
                                }
                                @if ($gridCol==4 or $gridCol ==8) {
                                    @media screen and (max-width: 1024px) {
                                        grid-template-columns: repeat(2, 1fr);
                                    }
                                }

                                @if ($gridCol ==6) {
                                    grid-template-columns: repeat(1, 1fr);

                                    @media screen and (max-width: 640px) {
                                        grid-template-columns: repeat(1, 1fr);
                                    }
                                }

                                @media screen and (max-width: 480px) {

                                    grid-template-columns: repeat(1, 1fr);

                                }

                            }

                        }
                    }

                }

            }

        }

    }

}
