@use 'sass:meta';
@use 'rwd-opt' as mixins;

:global {
	@include meta.load-css('../../../../node_modules/@n8d/htwoo-core/lib/sass/03-organism/dialog/index');
	@include meta.load-css('../../../../node_modules/@n8d/htwoo-core/lib/sass/02-molecules/dialogs/index');
	@include meta.load-css('../../../../node_modules/@n8d/htwoo-core/lib/sass/01-atoms/loading/index');

}

$baseFolder: '../../../../node_modules/';


.loadingShimmer {

	margin-left: 16px;

	&.appPartPage {
		box-sizing: border-box;
		max-width: 1268px;
		margin: 0 auto;
		padding: 0 1em;
	}
}

:global {
	.updateConfiguration {
		.hoo-dlg[open] {
			position: static;

			a {
				outline-color: transparent;
			}
		}
	}
}


.customLearning {
	:global {
		@include meta.load-css('#{$baseFolder}learning-pathways-styleguide/source/css/main.spfx');
	}

	font-family: "Segoe UI",
	Tahoma,
	Geneva,
	Verdana,
	sans-serif;

	padding-bottom: 100px;

	.info {
		color: #107c10;
	}

	.error {
		color: #a80000;
	}

	.title {
		margin: 0;
		padding-left: 10px;
	}

	&.appPartPage {
		box-sizing: border-box;
		max-width: 1268px;
		margin: 0 auto 100px;
		padding: 0 1em;

		// :global {
		// 	.category-item {
		// 		width: calc(#{span(2 narrow)} - .1px);

		// 		&:nth-child(6n+1) {
		// 			margin-left: 0;
		// 		}

		// 		@media screen and (min-width: 1024px) {}
		// 	}
		// }
	}

	.spouterframe {
		position: relative;

		display: flex;

		height: 12000px;
		min-height: 100vh;
	}

	.outerframe {
		@extend .spouterframe;

		min-height: auto;
		padding: 0;
	}

	.innerframe {
		position: absolute;
		top: 0;
		left: 0;

		width: 100%;
		height: 100%;
	}

	.semiBold {
		font-weight: 600;
	}

	.buttonMargin {
		margin-top: 20px;
		margin-right: 20px;
	}

	.primaryButton,
	.primaryButton:hover {
		white-space: nowrap;

		// color: $ouif-primaryButtonText;
		// border-color: $ouif-primaryButtonBackground;
		// background-color: $ouif-primaryButtonBackground;

		// svg {
		// 	fill: $ouif-primaryButtonText;
		// }
	}



	:global {
		.transparentButton {
			background-color: transparent;
		}


		.buttonRight {
			cursor: pointer;
			text-align: right;
		}

		.adm-content-playlist {
			display: block;

			box-sizing: border-box;

			li {
				display: inline-block;

				box-sizing: border-box;
				width: 100%;

				break-inside: avoid-column;
			}
		}

		.pl-edit-item {
			box-sizing: border-box;

			background-color: transparent;

			&:hover {
				//color: $ouif-primaryButtonBackground;
				background-color: transparent;

				.pl-edit-actions {
					.iconbutton {
						background-color: transparent;
					}
				}
			}
		}

		.adm-header-edit {
			color: #000;

			@media screen and (max-width: 1024px) {
				.plov {
					align-self: stretch;
					column-count: 1;
				}
			}
		}

		.plov-desc {
			.truncateToggle {
				display: flex;

				width: 100%;
				height: 1em;
				padding-left: 10px;

				svg {
					margin-top: -0.5rem;
					width: 1rem;

					fill: var(--bodyText);
				}

				&.expanded {
					border-bottom: 1px var(--neutralTertiary) solid;

					svg {
						margin-top: 0rem;
						margin-bottom: -0.5rem;
					}
				}

				&.notExpanded {
					border-top: 1px var(--neutralTertiary) solid;
				}

				align-items: top;
				justify-content: center;
				margin-top: 0.75rem;


			}
		}

	}



}




@include mixins.setupGrid(".customLearning", ".category-overview");
@include mixins.plovGrid(".customLearning", ".plov");
