.header-toolbar {
	position: relative;

	display: flex;

	align-content: flex-start;
	flex: 1;
	flex-wrap: nowrap;

	@media screen and (max-width: 768px) {
		flex-direction: column;
	}
}

.header-breadcrumb {
	flex-grow: 1;
	margin-left: -8px;
}

.header-action {
	align-self: flex-end;

	@media screen and (max-width: 768px) {
		text-align: right;
	}
}
.header-actions{
	@media screen and (max-width: 768px) {
		text-align: right;
	}
}

.learning-searchbox {
	position: absolute;

	width: calc(100% - 3*41px);
	padding: .35em .5em .5em;

	background-color: $c-light-gray;
}