.nav-pagination {
	display: flex;
	justify-content: center;;
}

.pagination {
	display: flex;
	margin: auto 0;
	flex-direction: row;

	box-sizing: border-box;
	padding: 0;

	list-style: none;

	flex-wrap: nowrap;
}

.pagination-item {
	&.hidden {
		visibility: hidden;
	}
}

.pagination-button {
	margin: .5em 0.25em;

	border: 1px black solid;
	background-color: white;

	&:hover {
		background: burlywood;
		color: white;
		cursor: pointer;
	}

	&:active {
		background: cadetblue;
		color: white;
	}
}