{{#button}}
<button class="hoo-buttoncomp"{{#if props}} {{{props}}}{{/if}}>
    <span class="hoo-buttoncomp-label">{{ label }}</span>
    <span class="hoo-buttoncomp-desc">{{ description }}</div>
</button>
{{/button}}
