{{#buttonCmd }}
<div class="hoo-buttoncontext-outer"{{#if props}} {{{props}}}{{/if}}>
    <button class="hoo-buttoncontext">
        <span class="hoo-buttoncontext-icon" aria-hidden="true"> {{> atoms-icon iconname=iconAction }} </span>
        <span class="hoo-buttoncontext-label"> {{label}} </span>
        <span class="hoo-button-icon hoo-buttonchevron"> {{> atoms-icon iconname=iconDown }} </span>
    </button>
    {{#contextMenu}}
    {{> atoms-menu-flyouts  }}
    {{/contextMenu}}
</div>
{{/buttonCmd}}