<div class="hoo-buttonicon-overflow" aria-haspopup="true">
    <button class="hoo-buttonicon-flyout" aria-haspopup="true"{{#if props}} {{{props}}}{{/if}}>
        <span class="hoo-button-icon" aria-hidden="true"> {{> atoms-icon iconname=iconDown }} </span>
        {{!-- When no drop down items are shown there is not need to show the dropdown --}}
    </button>
    {{!-- When no drop down items are shown there is not need to show the dropdown --}}
    {{#contextMenu}}
    {{> atoms-menu-flyouts }}
    {{/contextMenu}}
</div>