{{#button}}
<button class="hoo-buttonaction"{{#if props}} {{{props}}}{{/if}}>
    <span class="hoo-button-icon" aria-hidden="true"> {{> atoms-icon }} </span>
    <span class="hoo-button-label"> {{label}} </span>
</button>
{{/button}}