{{#button}}
<button class="hoo-buttoncomp-primary"{{#if props}} {{{props}}}{{/if}}>
    <span class="hoo-buttoncomp-label">{{ label }}</span>
    <span class="hoo-buttoncomp-desc">{{ description }}</span>
</button>
{{/button}}