$c-light-gray: #EAEAEA;
$c-light-gray: rgb(234, 234, 234);
$c-light-gray-darken: darken($c-light-gray, 20%);
$c-blue: #0078DB;
$c-red: #9e5b5b;
$c-gray: rgb(51, 51, 51);
$c-background: #fff;

:root {
    --bodyBackground: #03787c;
    --bodyFrameBackground: #026d70;
    --accentButtonText: #03787c;
    --buttonBackground: #03787c;
    --primaryButtonText: #03787c;
    --primaryButtonTextHovered: #025c5f;
    --primaryButtonTextPressed: #025c5f;
    --inputBackground: #ffffff;
    --inputForegroundChecked: #025c5f;
    --listBackground: #03787c;
    --menuBackground: #03787c;
    --cardStandoutBackground: #03787c;
    --bodyTextChecked: #faf9f8;
    --buttonTextCheckedHovered: #faf9f8;
    --link: #ffffff;
    --primaryButtonBackground: #ffffff;
    --inputBackgroundChecked: #ffffff;
    --inputIcon: #ffffff;
    --inputFocusBorderAlt: #49aeb1;
    --menuIcon: #ffffff;
    --menuHeader: #ffffff;
    --accentButtonBackground: #ffffff;
    --primaryButtonBackgroundPressed: #98d6d8;
    --inputBackgroundCheckedHovered: #03787c;
    --inputIconHovered: #faf9f8;
    --linkHovered: #ffffff;
    --primaryButtonBackgroundHovered: #c5e9ea;
    --inputPlaceholderBackgroundChecked: #d2d0ce;
    --bodyBackgroundChecked: #98d6d8;
    --bodyFrameDivider: #026d70;
    --bodyDivider: #49aeb1;
    --variantBorder: #026d70;
    --buttonBackgroundCheckedHovered: #98d6d8;
    --buttonBackgroundPressed: #025c5f;
    --listItemBackgroundChecked: #98d6d8;
    --listHeaderBackgroundPressed: #98d6d8;
    --menuItemBackgroundPressed: #98d6d8;
    --menuItemBackgroundChecked: #98d6d8;
    --bodyBackgroundHovered: #49aeb1;
    --buttonBackgroundHovered: #026d70;
    --buttonBackgroundDisabled: #c5e9ea;
    --buttonBorderDisabled: transparent;
    --primaryButtonBackgroundDisabled: #49aeb1;
    --disabledBackground: #026d70;
    --listItemBackgroundHovered: #49aeb1;
    --listHeaderBackgroundHovered: #49aeb1;
    --menuItemBackgroundHovered: #49aeb1;
    --primaryButtonTextDisabled: #f0f9fa;
    --disabledSubtext: #f0f9fa;
    --listItemBackgroundCheckedHovered: #c5e9ea;
    --disabledBodyText: #d2d0ce;
    --variantBorderHovered: #014446;
    --buttonTextDisabled: #49aeb1;
    --inputIconDisabled: #d2d0ce;
    --disabledText: #49aeb1;
    --bodyText: #ffffff;
    --actionLink: #ffffff;
    --buttonText: #ffffff;
    --inputBorderHovered: #014446;
    --inputText: #323130;
    --listText: #ffffff;
    --menuItemText: #323130;
    --bodyStandoutBackground: #026d70;
    --defaultStateBackground: #faf9f8;
    --actionLinkHovered: #ffffff;
    --buttonTextHovered: #ffffff;
    --buttonTextChecked: #f3f2f1;
    --buttonTextPressed: #ffffff;
    --inputTextHovered: #201f1e;
    --menuItemTextHovered: #f3f2f1;
    --bodySubtext: #ffffff;
    --focusBorder: #ffffff;
    --inputBorder: #026d70;
    --smallInputBorder: #e1dfdd;
    --inputPlaceholderText: #605e5c;
    --buttonBorder: #ffffff;
    --disabledBodySubtext: #c8c6c4;
    --disabledBorder: #f0f9fa;
    --buttonBackgroundChecked: #f0f9fa;
    --menuDivider: #c8c6c4;
    --cardShadow: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);
    --cardShadowHovered: 0 0 1px #d2d0ce;
    --primaryButtonBorder: transparent;
    --errorText: #a4262c;
    --messageText: #323130;
    --messageLink: #005A9E;
    --messageLinkHovered: #004578;
    --infoIcon: #605e5c;
    --errorIcon: #A80000;
    --blockingIcon: #FDE7E9;
    --warningIcon: #797775;
    --severeWarningIcon: #D83B01;
    --successIcon: #107C10;
    --infoBackground: #f3f2f1;
    --errorBackground: #FDE7E9;
    --blockingBackground: #FDE7E9;
    --warningBackground: #FFF4CE;
    --severeWarningBackground: #FED9CC;
    --successBackground: #DFF6DD;
    --warningHighlight: #ffb900;
    --successText: #107C10;
    --listTextColor: #323130;
    --warningText: #323130;
    --themeDarker: #ffffff;
    --themeDark: #faf9f8;
    --themeDarkAlt: #faf9f8;
    --themePrimary: #ffffff;
    --themeSecondary: #f3f2f1;
    --themeTertiary: #edebe9;
    --themeLight: #e1dfdd;
    --themeLighter: #d2d0ce;
    --themeLighterAlt: #c8c6c4;
    --black: #faf9f8;
    --blackTranslucent40: rgba(0, 0, 0, .4);
    --neutralDark: #f3f2f1;
    --neutralPrimary: #ffffff;
    --neutralPrimaryAlt: #edebe9;
    --neutralSecondary: #e1dfdd;
    --neutralSecondaryAlt: #8a8886;
    --neutralTertiary: #d2d0ce;
    --neutralTertiaryAlt: #f0f9fa;
    --neutralQuaternary: #f0f9fa;
    --neutralQuaternaryAlt: #c5e9ea;
    --neutralLight: #98d6d8;
    --neutralLighter: #49aeb1;
    --neutralLighterAlt: #13898d;
    --accent: #03787c;
    --white: #03787c;
    --whiteTranslucent40: rgba(255, 255, 255, .4);
    --yellowDark: #d29200;
    --yellow: #ffb900;
    --yellowLight: #fff100;
    --orange: #d83b01;
    --orangeLight: #ea4300;
    --orangeLighter: #ff8c00;
    --redDark: #a4262c;
    --red: #e81123;
    --magentaDark: #5c005c;
    --magenta: #b4009e;
    --magentaLight: #e3008c;
    --purpleDark: #32145a;
    --purple: #5c2d91;
    --purpleLight: #b4a0ff;
    --blueDark: #002050;
    --blueMid: #00188f;
    --blue: #0078d4;
    --blueLight: #00bcf2;
    --tealDark: #004b50;
    --teal: #008272;
    --tealLight: #00b294;
    --greenDark: #004b1c;
    --green: #107c10;
    --greenLight: #bad80a;
    --elevation4: 0 1.6px 3.6px 0 rgba(0, 0, 0, 0.132), 0 0.3px 0.9px 0 rgba(0, 0, 0, 0.108);
    --elevation8: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);
    --elevation16: 0 6.4px 14.4px 0 rgba(0, 0, 0, 0.132), 0 1.2px 3.6px 0 rgba(0, 0, 0, 0.108);
    --elevation64: 0 25.6px 57.6px 0 rgba(0, 0, 0, 0.22), 0 4.8px 14.4px 0 rgba(0, 0, 0, 0.18);
    --roundedCorner2: 2px;
    --roundedCorner4: 4px;
    --roundedCorner6: 6px;
}