<div class="adm-content">
  {{> 73-adm-category-sidebar }}
  <div class="adm-content-main">
    {{> 74-admpl-heading}}
    <ul class="adm-content-playlist">
      <li>{{> 74-adm-pl-itemedit }}</li>
      <li>{{> 74-adm-pl-itemedit }}</li>
      <li>{{> 74-adm-pl-itemedit }}</li>
      <li>{{> 74-adm-pl-itemedit }}</li>
      <li>{{> 74-adm-pl-itemedit }}</li>
      <li>{{> 74-adm-pl-itemedit }}</li>
      <li>{{> 74-adm-pl-itemedit }}</li>
      <li>{{> 74-adm-pl-itemedit }}</li>
      <li>{{> 74-adm-pl-itemedit }}</li>
      <li>{{> 74-adm-pl-itemedit }}</li>
    </ul>
    {{> 74-admpl-heading}}
    <ul class="adm-content-playlist">
      <li>{{> 74-adm-pl-itemedit }}</li>
      <li>{{> 74-adm-pl-itemedit }}</li>
      <li>{{> 74-adm-pl-itemedit }}</li>
      <li>{{> 74-adm-pl-itemedit }}</li>
    </ul>
    {{> 74-admpl-heading}}
    <ul class="adm-content-playlist">
      <li>{{> 74-adm-pl-itemedit }}</li>
      <li>{{> 74-adm-pl-itemedit }}</li>
      <li>{{> 74-adm-pl-itemedit }}</li>
      <li>{{> 74-adm-pl-itemedit }}</li>
      <li>{{> 74-adm-pl-itemedit }}</li>
      <li>{{> 74-adm-pl-itemedit }}</li>
    </ul>
  </div>
</div>
