    <details class="adm-curplasset">
        <summary class="adm-curplasset-summary">
            {{> molecules-adm-pl-itemedit }}
        </summary>
        <div class="adm-curplasset-content">
            {{#admin-lang-pivot}}
            {{> molecules-pivotbar-overflow }}
            {{/admin-lang-pivot}}
            <div class="adm-curplasset-details" data-component="AssetDetail">
                <label class="hoo-label">Title</label>
                <p class="adm-fieldvalue">Hello world</p>
                <label class="hoo-label">Technology</label>
                <p class="adm-fieldvalue"></p>
                <label class="hoo-label">Url</label>
                <p class="adm-fieldvalue">http://www.n8d.at</p>
                <div class="adm-curplasset-action">
                {{> atoms-button-primary }}
                </div>
            </div>
        </div>
    </details>