<section class="adm-content-section">
    <h2>Playlist Assets</h2>
    <div class="adm-cmdbar">
        {{#admin-assets.new}}
        {{> atoms-button-cmd}}
        {{/admin-assets.new}}
        {{#admin-assets.search}}
        {{> atoms-searchbox}}
        {{/admin-assets.search}}
    </div>
    <h3>Current Playlist:</h3>
    {{> molecules-adm-asset-details}}
    {{> molecules-adm-asset-details}}
    {{> molecules-adm-asset-details}}
    {{> molecules-adm-asset-details}}
    {{> molecules-adm-asset-details}}
</section>