<div class="adm-plitem-details">
    <div class="adm-plitem-preview">
        <div data-component="ImageSelector" class="adm-itemimage"><img
                src="https://pnp.github.io/custom-learning-office-365/learningpathways/v4/en-us/images/playlists/LP-security-security-at-work.png"
                alt="Custom Playlist" class="adm-itemimage" height="278px" width="200px" loading="lazy">
            <label class="adm-fileUrl">
                https://pnp.github.io/custom-learning-office-365/learningpathways/v4/en-us/images/playlists/LP-security-security-at-work.png
            </label>
        </div>
    </div>
    <div class="adm-plitem-infodetails">
        <label class="hoo-label">Title</label>
        <p class="adm-fieldvalue">Hello world</p>
        <label class="hoo-label">Description</label>
        <p class="adm-fieldvalue">Beschreibung</p>
        <label class="hoo-label">Technology</label>
        <p class="adm-fieldvalue">Accessibility</p>
        <label class="hoo-label">Category</label>
        <p class="adm-fieldvalue">TEst</p>
        <label class="hoo-label">Level</label>
        <p class="adm-fieldvalue">Beginner</p>
        <label class="hoo-label">Audience</label>
        <p class="adm-fieldvalue">End User</p>
    </div>
</div>