<div class="adm-content">
  {{> molecules-adm-category-sidebar }}
  <div class="adm-content-main">
    {{> atoms-admpl-heading}}
    <ul class="adm-content-playlist">
      <li>{{> molecules-adm-pl-itemedit }}</li>
      <li>{{> molecules-adm-pl-itemedit }}</li>
      <li>{{> molecules-adm-pl-itemedit }}</li>
      <li>{{> molecules-adm-pl-itemedit }}</li>
      <li>{{> molecules-adm-pl-itemedit }}</li>
      <li>{{> molecules-adm-pl-itemedit }}</li>
      <li>{{> molecules-adm-pl-itemedit }}</li>
      <li>{{> molecules-adm-pl-itemedit }}</li>
      <li>{{> molecules-adm-pl-itemedit }}</li>
      <li>{{> molecules-adm-pl-itemedit }}</li>
    </ul>
    {{> atoms-admpl-heading}}
    <ul class="adm-content-playlist">
      <li>{{> molecules-adm-pl-itemedit }}</li>
      <li>{{> molecules-adm-pl-itemedit }}</li>
      <li>{{> molecules-adm-pl-itemedit }}</li>
      <li>{{> molecules-adm-pl-itemedit }}</li>
    </ul>
    {{> atoms-admpl-heading}}
    <ul class="adm-content-playlist">
      <li>{{> molecules-adm-pl-itemedit }}</li>
      <li>{{> molecules-adm-pl-itemedit }}</li>
      <li>{{> molecules-adm-pl-itemedit }}</li>
      <li>{{> molecules-adm-pl-itemedit }}</li>
      <li>{{> molecules-adm-pl-itemedit }}</li>
      <li>{{> molecules-adm-pl-itemedit }}</li>
    </ul>
  </div>
</div>
