<div class="category-overview">
    {{> molecules-category-item }}
    {{> molecules-category-item }}
    {{> molecules-category-item }}
    {{> molecules-category-item }}
    {{> molecules-category-item }}
    {{> molecules-category-item }}
    {{> molecules-category-item }}
    {{> molecules-category-item }}
    {{> molecules-category-item }}
</div>