<div class="category-section">
    <h2>Category Name</h2>
    <menu class="category-overview" tabindex="-1">
        <li>{{> molecules-category-item }}</li>
        <li>{{> molecules-category-item }}</li>
        <li>{{> molecules-category-item }}</li>
        <li>{{> molecules-category-item }}</li>
        <li>{{> molecules-category-item }}</li>
        <li>{{> molecules-category-item }}</li>
        <li>{{> molecules-category-item }}</li>
        <li>{{> molecules-category-item }}</li>
        <li>{{> molecules-category-item }}</li>
        <li>{{> molecules-category-item }}</li>
        <li>{{> molecules-category-item }}</li>
        <li>{{> molecules-category-item }}</li>
        </mehu>
</div>