<menu class="category-overview">
    <li>{{> molecules-category-item }}</li>
    <li>{{> molecules-category-item }}</li>
    <li>{{> molecules-category-item }}</li>
    <li>{{> molecules-category-item }}</li>
    <li>{{> molecules-category-item }}</li>
    <li>{{> molecules-category-item }}</li>
</mehu>