<menu class="plov" role="grid">
  {{#each playlist }}
  <li>
    {{> molecules-plov-item }}
  </li>
  {{/each}}
  {{#each playlist }}
  <li>
    {{> molecules-plov-item }}
  </li>
  {{/each}}
  </menu>