<div class="plov">
  {{#each playlist }}
  <div class="plov-item plov-noimg">
    <div class="plov-desc">
      {{!-- h3.plov-title+p.plov-desc+.plov-audience --}}
      <h3 class="plov-title">{{ this.plTitle }}</h3>
      <p class="plov-short">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit doloremque velit
        officia maxime quidem odio nesciunt rerum eos accusamus. Quaerat voluptates odit facilis veniam tempora itaque,
        repudiandae enim modi. Perspiciatis cum recusandae fugit, accusantium necessitatibus repellat modi unde
        temporibus architecto. Ad cumque recusandae dignissimos consequuntur accusamus doloremque adipisci in alias.</p>
      <div class="plov-audience">For Beginner</div>
    </div>
  </div>

  {{/each}}
</div>
